<%= form_for(@test_result) do |f| %>
  <% if @test_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_result.errors.count, "error") %> prohibited this test_result from being saved:</h2>

      <ul>
      <% @test_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :test_count %><br />
    <%= f.number_field :test_count %>
  </div>
  <div class="field">
    <%= f.label :obj_score %><br />
    <%= f.number_field :obj_score %>
  </div>
  <div class="field">
    <%= f.label :sub_score %><br />
    <%= f.number_field :sub_score %>
  </div>
  <div class="field">
    <%= f.label :total_score %><br />
    <%= f.number_field :total_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
