<h1>Listing test_results</h1>

<table>
  <tr>
    <th>User</th>
    <th>Test count</th>
    <th>Obj score</th>
    <th>Sub score</th>
    <th>Total score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_results.each do |test_result| %>
  <tr>
    <td><%= test_result.user_id %></td>
    <td><%= test_result.test_count %></td>
    <td><%= test_result.obj_score %></td>
    <td><%= test_result.sub_score %></td>
    <td><%= test_result.total_score %></td>
    <td><%= link_to 'Show', test_result %></td>
    <td><%= link_to 'Edit', edit_test_result_path(test_result) %></td>
    <td><%= link_to 'Destroy', test_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test result', new_test_result_path %>
