<div id='top_bar'>
  <a href="/" id='logo'>
    Let.Me.Practice.
  </a>
  <%= link_to 'Logout', signout_path, id: "logout_btn", class: "red_button" %>
  <div id="contact_us_btn" class="light_button">Contact Us</div>
</div>
<div id="container">
  <div id='name_text'>
    <h2>Hi, <%= @user.name %> ...</h2>

    <h2>You have <span id='test_left'><%= @test_count %></span> tests left.</h2>
    <br>
    <%= link_to 'View Reports', test_results_path, id: "view_report", class: "green_button" %>
    <br>
    <br>
    <br>
    <%= link_to 'Progress Reports', progress_report_users_path , id: "progress_report", class: "blue_button" %>
    <br>
    <br>
    <br>
    <%= link_to 'Take Test', test_path, id: "take_test", class: "red_button" %>
  </div>
  <div id='pie_chart'>
    <h2>Question Paper Distribution</h2>
    <img src="assets/pie_chart_new.png">
  </div>
  <div id='footer_panel' style="position: fixed; bottom: 10%;">
    <div id='copyright'>All Rights Reserved. 2013 <span class="copy_sym">&copy;</span>
      <a href='#'><span class="Y YB_logo">Yuva</span><span class="B YB_logo">Beat</span></a>
    </div>
  </div>
</div>