<!DOCTYPE html>
<html>
<head>
  <title>Let.Me.Practice. - A platform for FYJC students of Mumbai University to give online IT Tests</title>
  <%= csrf_meta_tag %>
  <link href="assets/main.css" rel="stylesheet">
  <link href="assets/test.css" rel="stylesheet">
  <link href="assets/home.css" rel="stylesheet">
  <script src="assets/Chart.js"></script>

</head>
<body>
<div id='instruction_panel'>
  <div id='instruction_container'>
    <h2>Instructions</h2>
    <hr>
    <div id="instruction_content">
      <ol>
        <li>These instructions are for the online practice tests that you are about to start.
          In the HSC IT exam, you will see similar instructions screen with all the required information for the test.
          Please read it carefully as you will not be able to see instructions again in between the exam.
        </li>
        <li>All questions are compulsory in the test so you should review all the questions before submitting the test.
          There is NO negative marking for any wrong answers.
        </li>
        <li>You will be provided with two and half hours to complete HSC Online IT test Examination.
          For you to experiment, in this practice tests, you will be given an option to set duration for the tests. We
          recommend you to start with 3 hours time limit and as you give more tests, reduce the duration to less than 2
          hours.
        </li>
        <li>In case the time period gets over,test will be automatically submitted.
          Also make sure you have good internet connection, because if you start the test and do not finish by clicking
          SUBMIT button, your test will be set as void. You will not be able to restart the test if internet connection
          is lost in between.
        </li>
        <li>After completing the test, your score will be displayed on the screen. Also to improve your learning, you
          will be able to review your test results and compare it will previous tests.
        </li>
      </ol>

    </div>
    <div id="start_test_btn" class="red_button">Start Test</div>
  </div>
</div>
<div id="test_panel">
<div id='top_bar'>
  <div id='logo'>
    Let.Me.Practice.
  </div>
  <div id='counter'>

  </div>
  <div class="name_div"><h3>Hi, <%= current_user.name %> </h3></div>

</div>
<form method="post" action="/test_submit">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

<div id='left_panel'>
  <a href='#' id='q1' class="question_list">Question 1</a>
  <a href='#' id='q2' class="question_list">Question 2</a>
  <a href='#' id='q3' class="question_list">Question 3</a>
  <a href='#' id='q4' class="question_list">Question 4</a>
  <a href='#' id='q5' class="question_list">Question 5</a>
  <a href='#' id='q6' class="question_list">Question 6</a>
  <a href='#' id='q7' class="question_list">Question 7</a>
  <a href='#' id='q8' class="question_list">Question 8</a>
  <input type="submit" value="Submit Test" class="submit_btn red_button">
</div>
<div id='main_content'>
<div id='q1_div' style="display: block" class='content active'>
  <h3>Question 1 >> Fill in the blank<span class="weightage">(1 X 10)</span></h3>
  <hr>
  <br>
  <ol class="test_question" id='fill'>
    <% @fill_in_the_blank.each_with_index do |fill, index| %>
        <li>
          <div class="srno_field"><%= (index+1) %></div>
          <div class="que_field"><%= fill.cipher %></div>

          <div class="ans_field"><input type="text" size="15" name="<%= fill.id %>"></div>
        </li>
    <% end %>
    <% @fill_in_the_blank_next.each_with_index do |fill, index| %>
        <li>
          <div class="srno_field"><%= (index+7) %></div>
          <div class="que_field"><%= fill.cipher %></div>

          <div class="ans_field"><input type="text" size="15" name="<%= fill.id %>"></div>
        </li>
    <% end %>
  </ol>
</div>
<div id='q2_div' class='content'>
  <h3>Question 2 >> State whether True or False<span class="weightage">(1 X 10)</span></h3>
  <hr>
  <br>
  <ol class="test_question" id='TF'>
    <% @true_false.each_with_index do |tf, index| %>
        <li>
          <div class="srno_field"><%= (index+1) %></div>
          <div class="que_field"><%= tf.cipher %></div>

          <div class="ans_field">
            <input type="radio" name="<%= tf.id %>" value="None" class='hide' checked="true">
            <% tf.options.each do |option| %>
                <input type="radio" name="<%= tf.id %>" value="<%= option.key %>_<%= option.val %>"><%= option.key %>
            <% end %>
          </div>
        </li>
    <% end %>
    <% @true_false_next.each_with_index do |tf, index| %>
        <li>
          <div class="srno_field"><%= (index+7) %></div>
          <div class="que_field"><%= tf.cipher %></div>

          <div class="ans_field">
            <input type="radio" name="<%= tf.id %>" value="None" class='hide' checked="true">
            <% tf.options.each do |option| %>
                <input type="radio" name="<%= tf.id %>" value="<%= option.key %>_<%= option.val %>"><%= option.key %>
            <% end %>
          </div>
        </li>
    <% end %>

  </ol>

</div>
<div id='q3_div' class='content '>
  <h3>Question 3 >> Multiple Choice with one correct<span class="weightage">(1 X 20)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @mcq1.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
              <% qn.options.each do |option| %>
                  <p>
                    <input type="radio" name="<%= qn.id %>" value="<%= option.key %>_<%= option.val %>"><%= option.key %>
                  </p>
              <% end %>
              <p class='hide'>
                <input type="radio" name="<%= qn.id %>" value="None" checked="true">
              </p>
          </div>
        </li>
    <% end %>
    <% @mcq1_next.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 19 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
            <% qn.options.each do |option| %>
                <p>
                  <input type="radio" name="<%= qn.id %>" id="<%= option.id %>" value="<%= option.key %>_<%= option.val %>"><%= option.key %>
                </p>
            <% end %>
            <p class='hide'>
              <input type="radio" name="<%= qn.id %>" value="None" checked="true">
            </p>
          </div>
        </li>
    <% end %>
  </ol>
</div>
<div id='q4_div' class='content '>
  <h3>Question 4 >> Multiple Choice with two correct<span class="weightage">(2 X 5)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @mcq2.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
            <p class='hide'>
              <%= check_box_tag(qn.id.to_s + '[]', 'None', checked = true, options = {}) %>
            </p>
            <% qn.options.each_with_index do |option, index| %>
                <p><%= check_box_tag(qn.id.to_s + '[]', option.id, checked = false, options = {}) %><%= option.key %></p>
            <% end %>
          </div>
        </li>
    <% end %>
  </ol>
</div>
<div id='q5_div' class='content'>
  <h3>Question 5 >> Multiple Choice with three correct<span class="weightage">(2 X 3)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @mcq3.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
            <p class='hide'>
              <%= check_box_tag(qn.id.to_s + '[]', 'None', checked = true, options = {}) %>
            </p>
            <% qn.options.each_with_index do |option, index| %>
                <p><%= check_box_tag(qn.id.to_s + '[]', option.id, checked = false, options = {}) %><%= option.key %></p>
            <% end %>
          </div>
        </li>
    <% end %>
  </ol>
</div>
<div id='q6_div' class='content '>
  <h3>Question 6 >> Rearrange in correct sequence<span class="weightage">(2 X 2)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @rearrange.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
            <% qn.options.each do |option| %>
                <p>
                  <input type="text" name="<%= qn.id %>" id="<%= option.id %>">
                </p>
            <% end %>
          </div>
        </li>
    <% end %>
  </ol>
</div>
<div id='q7_div' class='content '>
  <h3>Question 7(a) >> Answer in brief<span class="weightage">(4 X 2)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @short_note_1.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
            <textarea name="<%= qn.id %>"></textarea>
          </div>
        </li>
    <% end %>
  </ol>
  <br>

  <h3>Question 7(b) >> Answer in brief<span class="weightage">(2 X 1)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @short_note_2.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_mcq"><%= qn.cipher %></div>
          <br>
          <br>

          <div class="ans_field_mcq">
            <textarea name="<%= qn.id %>"></textarea>
          </div>
        </li>
    <% end %>
  </ol>
</div>
<div id='q8_div' class='content '>
  <h3>Question 8 >> Write the program for given output<span class="weightage">(5 X 2)</span></h3>
  <hr>
  <br>
  <ol class="mcq test_question">
    <% @html_code.each_with_index do |qn, index| %>
        <li>
          <div class="srno_field"><%= index + 1 %></div>
          <div class="que_field_html"><%= qn.cipher %>
            <br><br>
            <img src="<%= qn.img.url %>">
          </div>
          <br>
          <br>

          <div class="ans_field_html ans_field_mcq">
            <textarea name="<%= qn.id %>"></textarea>
          </div>
        </li>
    <% end %>
    </li>
  </ol>
</div>
</div>
</form>
</div>
<script src="assets/test.js"></script>
</body>
</html>