<h1>Listing test_details</h1>

<table>
  <tr>
    <th>Test</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_details.each do |test_detail| %>
  <tr>
    <td><%= test_detail.test_id %></td>
    <td><%= test_detail.question_id %></td>
    <td><%= test_detail.answer %></td>
    <td><%= test_detail.score %></td>
    <td><%= link_to 'Show', test_detail %></td>
    <td><%= link_to 'Edit', edit_test_detail_path(test_detail) %></td>
    <td><%= link_to 'Destroy', test_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test detail', new_test_detail_path %>
