<!DOCTYPE html>
<html>
<head>
  <title>Let.Me.Practice. - A platform for FYJC students of Mumbai University to give online IT Tests</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= stylesheet_link_tag    "login", :media => "all" %>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
